* {
	padding: 0;
	margin: 0;
}
.clear {
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	clear: both;
}
.accountListWrap {
	position: relative;
	width: 95%;
	/*height: 500px;*/
	border: 1px solid lightgrey;
	/*margin-top: 15px;*/
	border-radius: 10px;
	overflow: hidden;
	margin: 15px 0;
	margin-left: 2.5%;

	.accountListHead {
		width: 100%;

		.accountListHeadInner {
			float: left;
			width: 25%;
			text-align: center;
			height: 40px;
			line-height: 40px;
			border:  0.5px solid lightgrey;
			box-sizing: border-box;
		}
	}
	.accountListBody {
		width: 100%;
		position: relative;

		.accountListContent {
			position: relative;
			height: 35px;

			&:nth-child(2n) .accountListContentLeft{
				background-color: white;
			}
			&:nth-child(2n-1) .accountListContentLeft{
				background-color: #DDD;
			}

			.accountListContentLeft {
				width: 100%;
				position: absolute;
				left: 0;
				z-index: 1;
				background-color: white;
				cursor: pointer;
				/*transition: 0.5s all;*/

				.accountLeftInner {
					float: left;
					width: 25%;
					text-align: center;
					height: 35px;
					line-height: 35px;
					border:  0.25px solid lightgrey;
					box-sizing: border-box;
					font-weight: 500;
				}
			}
			.accountListContentRight {
				width: 100%;
				position: absolute;
				left: 0;
				height: 35px;
				z-index: 0;
				background-color: white;

				.innerAccountRight {
					float: right;
					height: 35px;
					width: 12.5%;
					line-height: 35px;
					text-align: center;
					cursor: pointer;
					color: white;
					font-size: 2vh;
					/*background-color: green;*/
				}
				.innerAccountRightChange {
					background-color: #1abc9c;
				}
				.innerAccountRightDelete {
					background-color: #e74c3c;
				}
			}
		}

	}
	.accountListHeadInner:nth-child(1),.accountLeftInner:nth-child(1) {
		width: 20%!important;
	}
	.accountListHeadInner:nth-child(3),.accountLeftInner:nth-child(3) {
		width: 15%!important;
	}
	.accountListHeadInner:nth-child(4),.accountLeftInner:nth-child(4) {
		width: 40%!important;
	}

}