@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

.clear {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  clear: both;
}

.accountListWrap {
  position: relative;
  width: 95%;
  /*height: 500px;*/
  border: 1px solid lightgrey;
  /*margin-top: 15px;*/
  border-radius: 10px;
  overflow: hidden;
  margin: 15px 0;
  margin-left: 2.5%;
}
.accountListWrap .accountListHead {
  width: 100%;
}
.accountListWrap .accountListHead .accountListHeadInner {
  float: left;
  width: 25%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border: 0.5px solid lightgrey;
  box-sizing: border-box;
}
.accountListWrap .accountListBody {
  width: 100%;
  position: relative;
}
.accountListWrap .accountListBody .accountListContent {
  position: relative;
  height: 35px;
}
.accountListWrap .accountListBody .accountListContent:nth-child(2n) .accountListContentLeft {
  background-color: white;
}
.accountListWrap .accountListBody .accountListContent:nth-child(2n-1) .accountListContentLeft {
  background-color: #DDD;
}
.accountListWrap .accountListBody .accountListContent .accountListContentLeft {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  background-color: white;
  cursor: pointer;
  /*transition: 0.5s all;*/
}
.accountListWrap .accountListBody .accountListContent .accountListContentLeft .accountLeftInner {
  float: left;
  width: 25%;
  text-align: center;
  height: 35px;
  line-height: 35px;
  border: 0.25px solid lightgrey;
  box-sizing: border-box;
  font-weight: 500;
}
.accountListWrap .accountListBody .accountListContent .accountListContentRight {
  width: 100%;
  position: absolute;
  left: 0;
  height: 35px;
  z-index: 0;
  background-color: white;
}
.accountListWrap .accountListBody .accountListContent .accountListContentRight .innerAccountRight {
  float: right;
  height: 35px;
  width: 12.5%;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 2vh;
  /*background-color: green;*/
}
.accountListWrap .accountListBody .accountListContent .accountListContentRight .innerAccountRightChange {
  background-color: #1abc9c;
}
.accountListWrap .accountListBody .accountListContent .accountListContentRight .innerAccountRightDelete {
  background-color: #e74c3c;
}
.accountListWrap .accountListHeadInner:nth-child(1), .accountListWrap .accountLeftInner:nth-child(1) {
  width: 20% !important;
}
.accountListWrap .accountListHeadInner:nth-child(3), .accountListWrap .accountLeftInner:nth-child(3) {
  width: 15% !important;
}
.accountListWrap .accountListHeadInner:nth-child(4), .accountListWrap .accountLeftInner:nth-child(4) {
  width: 40% !important;
}

.addNewBtn {
  /*width: 100px;*/
  /*padding: 0 5px;*/
  float: right;
  height: 30px;
  background-color: lightgrey;
  margin-right: 10px;
  border-radius: 8px;
  border: 0;
  outline: none;
  cursor: pointer;
}
.addNewBtn .addIcon {
  width: 30px;
  height: 30px;
  font-size: 30px;
  text-align: center;
  line-height: 25px;
  display: block;
  font-family: '微软雅黑';
}

.loadingMask {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  text-align: justify;
  justify-content: center;
}
.loadingMask .loadingMaskTop {
  width: 200px;
  height: 250px;
  position: relative;
  /*background-color: white;*/
}
.loadingMask .loadingMaskTop .innerLoading {
  width: 100px;
  height: 100px;
  margin: 50px;
  border-radius: 50%;
  background: linear-gradient(transparent 0%, transparent 70%, #FFF 70%, #FFF 100%);
  -webkit-animation: loading 0.6s linear 0s infinite;
  -moz-animation: loading 0.6s linear 0s infinite;
  -ms-animation: loading 0.6s linear 0s infinite;
  -o-animation: loading 0.6s linear 0s infinite;
  animation: loading 0.6s linear 0s infinite;
}
.loadingMask .loadingMaskTop .loadingMaskBot {
  width: 200px;
  height: 50px;
  text-align: center;
  color: white;
  font-family: '微软雅黑';
}

.addNewWrapAll {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10000;
  display: flex;
  align-items: center;
  text-align: justify;
  justify-content: center;
  display: none;
}
.addNewWrapAll .addNewWrap {
  width: 300px;
  /*height: 500px;*/
  border: 2px solid lightgrey;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.addNewWrapAll .addNewWrap .addNewInputWrap {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: justify;
  justify-content: center;
  margin: 20px 0;
}
.addNewWrapAll .addNewWrap .addNewInputWrap .addNewInput {
  width: 80%;
  height: 30px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid grey;
  padding: 0 20px;
  box-sizing: border-box;
  outline: none;
}
.addNewWrapAll .addNewWrap .addNewBtnWrap {
  width: 100%;
  height: 40px;
  margin-top: 20px;
}
.addNewWrapAll .addNewWrap .addNewBtnWrap button {
  width: 50%;
  height: 40px;
  border: 0;
  float: left;
  color: white;
  font-size: 18px;
  font-family: '微软雅黑';
  cursor: pointer;
}
.addNewWrapAll .addNewWrap .addNewBtnWrap .addNewBtnAdd {
  background-color: #2ecc71;
}
.addNewWrapAll .addNewWrap .addNewBtnWrap .addNewBtnCancel {
  background-color: #e74c3c;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes loading {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes loading {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@-ms-keyframes loading {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
