@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.pSpace {
  text-indent: 2em;
}

.loadingMask {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  text-align: justify;
  justify-content: center;
}
.loadingMask .loadingMaskTop {
  width: 200px;
  height: 250px;
  position: relative;
  /*background-color: white;*/
}
.loadingMask .loadingMaskTop .innerLoading {
  width: 100px;
  height: 100px;
  margin: 50px;
  border-radius: 50%;
  background: linear-gradient(transparent 0%, transparent 70%, #FFF 70%, #FFF 100%);
  -webkit-animation: loading 0.6s linear 0s infinite;
  -moz-animation: loading 0.6s linear 0s infinite;
  -ms-animation: loading 0.6s linear 0s infinite;
  -o-animation: loading 0.6s linear 0s infinite;
  animation: loading 0.6s linear 0s infinite;
}
.loadingMask .loadingMaskTop .loadingMaskBot {
  width: 200px;
  height: 50px;
  text-align: center;
  color: white;
  font-family: '微软雅黑';
}

.signInBtnWrap {
  width: 100%;
  padding: 0 5%;
  font-family: '微软雅黑';
  height: 100px;
  margin-top: 50px;
}
.signInBtnWrap .signInBtnBox {
  width: 43%;
  height: 80px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  float: left;
  overflow: hidden;
}
.signInBtnWrap .signInBtnLeft {
  margin-right: 4%;
}
.signInBtnWrap .signInBtn {
  width: 100%;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  color: white;
  /*cursor: pointer;*/
  border: 0;
  font-family: '微软雅黑';
  opacity: 0.5;
}
.signInBtnWrap .signInInfo {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.signInBtnWrap .signInInfo span {
  color: #1eabe3;
}
.signInBtnWrap .signBtnIn {
  background-color: #2ecc71;
}
.signInBtnWrap .signBtnOff {
  background-color: #e74c3c;
}

.signInContentWrap {
  width: 100%;
  padding: 20px 5%;
  padding-bottom: 0;
  box-sizing: border-box;
  line-height: 2;
}
.signInContentWrap p {
  font-size: 2vh;
}
.signInContentWrap p:nth-child(4) {
  text-align: right;
  color: #7d7d7a;
}

.signInStatusWrap {
  padding: 20px 5%;
  padding-bottom: 0;
  font-family: '微软雅黑';
}
.signInStatusWrap .signInStatusTitle .signInStatusInner {
  float: left;
  color: #1eabe3;
  width: 14%;
  text-align: center;
}
.signInStatusWrap .signInStatusContent .signInStatusContentBox {
  float: left;
  width: 14%;
  text-align: center;
  padding: 5px;
  /*height: 50px;*/
  box-sizing: border-box;
  position: relative;
}
.signInStatusWrap .signInStatusContent .signInStatusContentBox .signInStatusContentBoxInner {
  border: 1px solid whitesmoke;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  position: relative;
}
.signInStatusWrap .signInStatusContent .signInStatusContentBox .signInStatusContentBoxInner .signInStatusContentBoxState {
  position: absolute;
  height: 35%;
  width: 100%;
  background-color: white;
}
.signInStatusWrap .signInStatusContent .signInStatusContentBox .signInStatusContentBoxInner .signInStatusContentBoxState .signInStatusContentBoxStateInner {
  /*position: relative;*/
  /*position: relative;*/
  /*top: -100%;*/
  float: left;
  /*height: 100%;*/
  width: 33%;
  /*font-size: 0.5vw;*/
  font-size: 60%;
  /*line-height: 1.5;*/
  border: 1px solid white;
  box-sizing: border-box;
  color: white;
  margin-top: 0;
  text-align: center;
  border-radius: 15%;
  overflow: hidden;
}
.signInStatusWrap .signInStatusContent .signInStatusContentBox .signInStatusContentBoxInner .signInStatusContentBoxState .signInStatusContentBoxStateInnerNormal {
  background-color: #2ecc71;
}
.signInStatusWrap .signInStatusContent .signInStatusContentBox .signInStatusContentBoxInner .signInStatusContentBoxState .signInStatusContentBoxStateInnerVocation {
  background-color: #3498db;
}
.signInStatusWrap .signInStatusContent .signInStatusContentBox .signInStatusContentBoxInner .signInStatusContentBoxState .signInStatusContentBoxStateInnerEmpty {
  background-color: #e74c3c;
  /*box-sizing: border-box;*/
  /*line-height: 1.9;*/
}
.signInStatusWrap .signInStatusBottom {
  width: 100%;
  /*padding: 20px 5%;*/
  box-sizing: border-box;
  min-height: 50px;
  margin-top: 20px;
}
.signInStatusWrap .signInStatusBottom .signInStatusBottomContent {
  /*width: 25%;*/
  width: 33.3%;
  /*width: 140px;*/
  float: left;
  /*padding: 0 3%;*/
  box-sizing: border-box;
  height: 20px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  text-align: justify;
  /*justify-content: center;*/
}
.signInStatusWrap .signInStatusBottom .signInStatusBottomContent .signInStatusBottomContentColor {
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 3px;
  float: left;
  margin: 0 20px;
}
.signInStatusWrap .signInStatusBottom .signInStatusBottomContent .signInStatusBottomContentType {
  float: left;
  font-size: 1.5vh;
  margin-right: 20px;
  /*line-height: 30px!important;*/
  /*height: 30px;*/
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes loading {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes loading {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@-ms-keyframes loading {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
